spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/spring_security
    username: sa
    password: rootroot
  jpa:
    hibernate:
      ddl-auto: validate
  main:
    allow-circular-references: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  sql:
    init:
      mode: always
  jmx:
    enabled: true

password:
  length: 10

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  health:
    defaults:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true

#logging:
#  level:
#    root: debug